.bbtn {
  display: flex;
  justify-content: space-around; 
  align-items: center;
 
  padding: 20px; /* Отступ сверху */
}

.btn_info,
.btn_del {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.container {
  text-align: center;
  overflow-x: hidden;
}

.grid_container {
  display: grid;
  margin: 50px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Адаптивные колонки */
  grid-auto-rows: auto; /* Даем возможность строкам расширяться по содержимому */
  gap: 40px;
  text-align: center;
  justify-items: center; /* Центрируем элементы по горизонтали */
}

.grid_item {
  background: #411c389e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
}

.cat_img {
  width: 100%;
  height: 200px; /* Фиксированная высота */
  object-fit: cover; /* Обрезает изображение, не меняя размер грид-ячейки */
  border-radius: 8px;
  margin-bottom: 10px; /* Отступ снизу для картинки */
}

.grid_item p {
  flex-grow: 1; /* Позволяет тексту занимать доступное пространство */
  margin: 0;
  text-align: left;
  overflow: hidden; /* Если текста слишком много, обрезать его */
  text-overflow: ellipsis; /* Добавить многоточие, если текст не помещается */
  white-space: nowrap; /* Не переносить текст */
}

.grid_item .btn_info,
.grid_item .btn_del {
  margin-top: 10px; /* Отступ от текста */
  width: 100%;
  text-align: center;
}
